
@{
    ViewBag.Title = "yeniIsBildirimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Yeni İş</strong>
                <small>Bildirimi</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Şablon</label>
                        <select class="form-control" id="ccmonth">
                            <option>Seçiniz</option>
                            <option>Şablon 1</option>
                            <option>Şablon 2</option>
                            <option>Şablon 3</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="btn-group btn-group-sm m-t-32" role="group" aria-label="Default button group">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-warning"></i> Normal</button>
                            <button type="button" class="btn btn-secondary"><i class="fa fa-warning"></i> Orta</button>
                            <button type="button" class="btn btn-secondary"><i class="fa fa-warning"></i> Yüksek</button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Servis Birimi</label>
                        <select class="form-control" id="ccmonth">
                            <option>Seçiniz</option>
                            <option>Mekanik</option>
                            <option>Isıtma/Soğutma</option>
                            <option>Elektrik</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Kategori</label>
                        <select class="form-control" id="ccmonth">
                            <option>Seçiniz</option>
                            <option>İklimlendirme Sistemleri</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Alt Kategori</label>
                        <select class="form-control" id="ccmonth">
                            <option>Seçiniz</option>
                            <option>Klima Arızası</option>
                        </select>
                    </div>
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Şablon</label>
                        <input class="form-control" type="text" id="ccmonth" placeholder="" value="Klima su damlatıyor." />
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Demirbaş Seçimi (isteğe bağlı)</label>
                        <select class="form-control" id="ccmonth">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Planlı İş</label>
                        <div class="row">
                            <div class="col-md-1 p-r-0"><input class="m-t-11" type="checkbox" id="inline-checkbox1" value="check1"></div> <div class="col-md-11"><input class="form-control" type="date" id="ccmonth" placeholder="" value="" /></div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Onaylayacak Yetkili</label>
                        <input class="form-control" type="text" id="ccmonth" placeholder="" value="Metin Alvar" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="ccmonth">Açıklama</label>
                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="ccyear">Dosya Yükleme</label>
                        <!--file input example -->
                        <span class="control-fileupload">
                            <label for="file">Dosya seçiniz</label>
                            <input type="file" id="file">
                        </span>
                        <!--./file input example -->
                    </div>

                </div>
                <!--/.row-->
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

@section scripts{
    <script>
        $(function () {
            $('input[type=file]').change(function () {
                var t = $(this).val();
                var labelText = 'Dosya : ' + t.substr(12, t.length);
                $(this).prev('label').text(labelText);
            })
        });
    </script>
}
